body {
  font-family: 'Montserrat', sans-serif;
  background-color: #94C2A5;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.header {
  padding: 60px;
  background-color: #F4DEB5;
}

.form-body {
  padding: 60px;
}

li {
  font-family: 'Ranga', cursive;
  font-size: 20px;
}
